body {
  color: black;
  font-family: Cambria, Georgia, "Times New Roman", serif;
  font-size: 100%;
  line-height: 1.3em;
  padding: 0;
  margin: 0;
  background: #F4F3EB;

}

a:link, a:active, a:visited {
  color: black;
  background-color: inherit;
  text-decoration: underline;
}

#wrapper {
  text-align: left;
  margin: 0 auto 0 auto;
  padding: 0px;
  border:0;
  width: 960px;
}

#container {
  width: 960px;
  min-height: 500px;
}

.box {
display: inline;
float: left;
margin-left: 10px;
margin-right: 10px;
}


#header {
  width: 100%;
  height: 60px;
  margin: 0;
  border-bottom: 2px dotted #000000;
  padding: 0 5px 5px 0;
}


#logo {
  height: 55px;
  text-align: left;
  padding: 0 15px 0 10px;
  margin: 0;
  background: orange;
}

#logopic {
  display: block;
  text-align: center;
  float:left;
  padding: 0;
  margin: 0;
  height: 25px;
  width: 30px;
  font-size: 100%;
}

#clientinfo {
  margin: 0 0 0 20px;
  text-align: left;
  float: left;
  width: 200px;
  font-size: 0.8em;
}

#searchbox {
  height: 50px;
  width: 485px;
  padding: 7px 0px 0px 10px;
  display:block;
  float:left
}

#search {
  float:left;
  text-align: left;
  font-size: 1.3em;
  margin: 0px 0px 2px 0px;
  height: 25px;
  width: 485px;

}

#searchbox p {
  float:left;
  display:block;
  padding: 0px;
  margin: 0px;

}

#side-b {
  float: left;
  width: 225px;
  margin-left: 5px;
  margin-right: 5px;
}

#content {
  float: left;
  width: 700px;
  padding: 10px;
  text-align: left;
  line-height: 1.3em;
}

#footer {
  clear: left;
  display: block;
  width:960px;
  height: 60px;
  margin: 0px;
  padding: 5px;
  border-top: 2px dotted #000000;
  text-align: right;
  font-size: 0.9em;
}

#footer p {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}


h1, h2 {
  font-weight: normal;
  font-variant: small-caps;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
}

h3 {
font-size: 1em;
}

.post h2 {
  margin-bottom: 0;
  margin-top: 0;
  padding: 0;
}

.postbox {
  margin-bottom: 20px;
  background: #FFFFFF;
  border: 1px dotted #666;
}

.post {
  margin-left: 70px;
  margin-right: 10px;
}

.post p {
  padding: 0 0 0 0;

}

#postform {
  padding: 0 10px 0 5px;
  margin: 0;
}

.commentbox {
  margin: 0px 0px 20px 40px;
  background: #FFFFFF;
  border: 1px dotted #666;
  padding: 5px;

}

.comment {
  padding: 0;
  overflow: hidden;
  display: block;
  margin-right: 10px;
}

.comment p {
  padding: 10px;
  margin: 0 15px 0 0;
  overflow: hidden;
  display: block;
}

.commentbox h3 {
  padding: 0;
  margin: 0;
  line-height: 1.2em;
}

.reply {
  padding: 0px 15px 0px 10px;
  margin-left: 40px;
  margin-right: 10px;
  padding: 5px;
}

.reply h3 {
  padding: 0;
}

.reply p {
  margin: 0 15px 0 0;
  padding: 10px;
}


p.postinfo {
  font-size: 0.8em;
  margin: 0 0 1em 0;
}

p.commentinfo {
  font-size: 0.8em;
  margin: 0;
}

p.moderatecomment {
  margin: 0;
}

#clientinfo p {
  font-size: 0.8em;
  margin: 0;
}

#header h1 {
  margin: 0;
  padding: 0;
}

h2 a:link, h2 a:active, h2 a:visited, h2 a:hover, h2 a:focus,
h1 a:link, h1 a:active, h1 a:visited, h1 a:hover, h1 a:focus  {
  text-decoration: none;
}

a:hover { background-color:orange; }

.rightbutton {
  background-color: orange;
  width: 225px;
  height: 25px;
  padding: 0px;
  margin: 10px 0 0 0;
  text-align: center;
}

#newpostbutton {
  display: block;
  background-color: orange;
  width: 700px;
  height: 25px;
  padding: 0px;
  text-align: center;
  margin: 0 0 20px 0;
}



.rightbutton p, #newpostbutton p {
  margin: 0;
  padding: 3px;
  width: 100%;
}




.rightbutton:hover, #newpostbutton:hover {
  background: #FFFFFF;
  cursor: pointer;
}



#tagscloud, #abouttext, #siteinfo {
  font-size: 0.9em;
  border: 1px dotted #666;
  background: #FFFFFF;
  padding: 7px;
}

#tagscloud p {
  text-align: justify;
  margin: 0;
}

#tagscloud a {
  text-decoration: none;
}

#abouttext p, #siteinfo p {
  margin: 0;
}

.favtag {
  font-size: 1.3em;
  font-style: bold;
}

blockquote {
  background-color: #EEEEEE;
  padding: 10px;
  margin: 0 0 0 30px;
  border: 1px dotted #666;
}

pre {
  background-color: #222222;
  width: 600px;
  color: #FFFFFF;
  border: solid 1px;
  padding: 8px;
  margin: 1em 0;
  overflow: scroll;
  font-family: Consolas, 'Courier New', monospace;
  font-size: 1em;
  line-height: 1.2em;
}

input[type=text], textarea {
  font-family: Cambria, Georgia, "Times New Roman", serif;
  font-size: 100%;
  background-color: #eeeeee;
  border: 1px solid #000000;
  width: 100%;
  line-height: 1.3em;
}

.bottombutton {
  display: block;
  background: orange;
  width: 700px;
  margin: 0 0 10px 0;
  padding: 0px;
  text-align: center;

}

.bottombutton a:link {
  display: block;
  text-decoration: none;
  width: 694px;
  padding: 3px;

;