body {
  color: black;
  font-family: Cambria, Georgia, Times New Roman, serif;
  font-size-adjust: 0.467;
  font-size: 100%;
  line-height: 1.3em;
  padding: 0;
  margin: 0;
  background: #F4F3EB;

}

h1 {font-size:140%}
p {font-size:100%}

a:link, a:active, a:visited {
  color: black;
  background-color: inherit;
  text-decoration: underline;
}

h1 {
  font-weight: normal;
  text-transform: uppercase;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  word-spacing: 1px;

}

h2 {
  font-weight: normal;
  line-height: 1.6em;
  margin: 0;
  padding: 0;
  word-spacing: 1px;
  font-variant: small-caps;
}


h1:first-letter  { font-size: 145%;}

#wrapper {
  text-align: left;
  margin: 0 auto 0 auto;
  padding: 0px;
  border:0;
  width: 960px;
}

#header {
  width: 100%;
  height: 60px;
  border-bottom: 2px dotted #000000;
  padding: 5px 0 5px 0;
}

.button {
  display: inline-block;
  vertical-align:middle;
  line-height: 25px;
  width: 100%;
}

.button a {
  display: block;
  width: 100%;
  text-decoration: none;
}


#logo {
  display: inline-block;
  float: left;
  height: 55px;
  width: 205px;
  text-align: left;
  padding: 0;
  margin: 0;
  background: orange;
  border: 1px solid #000000;

}

#logo a{
  position: relative;
  display: block;
  width: 100%;
  height: 55px;
  padding: 0;
  margin: 0;
  text-decoration: none;
}

#logopic {
  float: left;
  position: relative;
  left: 5px;
  top: 5px;
  display: block;
  float:left;
  height: 30px;
  width: 30px;
  border: 0px;
}


#logo h1 {
  float: left;
  position: relative;
  left: 10px;
  top: 2px;
  text-shadow: 0px 1px 1px #FFFFFF;
  margin: 0;
  padding: 0;

}


#logo p {
  position: relative;
  top: -20px;
  right: 5px;
  font-size: 80%;
  padding: 0;
  margin: 0;
  float: right;


}

#searchbox {
  height: 26px;
  width: 510px;
  padding: 15px 0px 15px 5px;
  display: inline-block;
  float:left
}

#search {
  display: inline-block;
  float:left;
  text-align: left;
  font-size: 1.1em;
  margin: 0;
  height: 26px;
  width: 380px;
  padding: 0;
  position: static;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-left: 1px solid #000000;
  border-right: 0;
}

#search:focus {
    outline: none;
}

#fakesearch {
  display: inline-block;
  float:left;
  margin: 0;
  padding: 0;
  height: 26px;
  width: 127px;
  background-color: #EEE;
  border-top: 1px solid #000000;
  border-bottom: 1px solid #000000;
  border-right: 1px solid #000000;
  border-left: 0;
}

#rss {
  float: left;

  width: 119px;
  height: 20px;
  display:inline-block;
  padding: 0;
  margin: 0;
  border: 1px solid #000000;
  position: relative;
  bottom: 25px;
  left: 385px;
  background: orange;

}

#rss img {
  display: inline-block;
  position: relative;
  padding: 0px;
  margin: 0px;
  height: 20px;
  border: 0;
}

#rss p {
  display: inline-block;
  position: relative;
  top: -5px;
  padding: 0px;
  margin: 0px 0px 0px 2px;
  height: 20px;
}

#rss a{
  text-decoration: none;
  display: block;
  position: relative;
  margin: 0px;
  width: 100%;
  height: 20px;
}


#clientinfo {
  font-family: Verdana, Arial;
  display: block;
  margin: 2px 0px 0 10px;
  padding: 0 0 0 0px;
  text-align: left;
  float: right;
  width: 225px;
  font-size: 0.7em;
}

#greeting, #passwordinfo {
  padding: 0 0 0 0px;
}

#container {
  width: 960px;
  display: inline-block;
}

#side-b {
  display: inline-block;
  float: left;
  width: 225px;
  margin-left: 10px;
  margin-right: 0px;
}

#content {
  display: inline-block;
  float: left;
  width: 696px;
  padding: 10px 10px 0px 10px;
  text-align: left;
  line-height: 1.3em;
  margin: 10px 2px 10px 2px;
  background: #FFFFFF;
}

#posts {
  display: inline-block;
  float: left;
  width: 100%;
  min-height: 400px;
}

#footer {
  clear: left;
  display: block;
  width:960px;
  height: 60px;
  margin: 0px;
  padding: 5px;
  border-top: 2px dotted #000000;
  text-align: right;
  font-size: 0.9em;
}

#footer p {
  padding: 0;
  margin: 0;
  display: block;
  width: 100%;
}


h3 {
font-size: 1em;
}

.post, .comment {
  margin: 0 15px 15px 15px;
}

.post h2 {
  margin: 10px 0 10px 0;
  padding: 0;
}


.postbox {
  margin-bottom: 15px;
  background: #FFFFFF;
  border: 1px dotted #666;
}

.post p, .comment p {
  margin: 0 0 15px 15px;
  padding 0;
}

.postinfo {
  display: block;
  font-size: 0.8em;
  margin: 15px 0 5px 0;
}

.postpanel {
  display: block;
  width: 100%;
  height: 20px;
}

.postadm {
  display: inline-block;
  float: left;
}

.postcomm {
  display: inline-block;
  float: right;
  text-align: right;
}



#postform {
  padding: 10px;
  margin: 0;
}

.commentbox {
  margin: 0px 0px 20px 40px;
  background: #FFFFFF;
  border: 1px dotted #666;
  padding: 5px;

}

.commentbox h3 {
  padding: 0;
  margin: 10px 0 10px 0;
  line-height: 1.2em;
}

.reply {
  margin-left: 40px;
  margin-right: 10px;
  padding: 0;
}

.reply h3 {
  padding: 0;
}

p.commentinfo {
  font-size: 0.8em;
  margin: 0;
}

p.moderatecomment {
  margin: 10px 0 0 0;
}

#clientinfo p {
  font-size: 0.8em;
  margin: 0;
}

h2 a:link, h2 a:active, h2 a:visited, h2 a:hover, h2 a:focus,
h1 a:link, h1 a:active, h1 a:visited, h1 a:hover, h1 a:focus  {
  text-decoration: none;
}

a:hover { background-color:orange; }

.rightbutton {
  background-color: orange;
  width: 225px;
  height: 25px;
  padding: 0px;
  margin: 10px 0 0 0;
  text-align: center;
}

.contentbutton {
  background-color: orange;
  width: 700px;
  padding: 0px;
  text-align: center;
  margin: 0 0 15px 0;
}


.rightbutton:hover, #newpostbutton:hover {
  background: #FFFFFF;
  cursor: pointer;
}



#tagscloud, #abouttext, #siteinfo {
  font-size: 0.9em;
  border: 1px dotted #666;
  background: #FFFFFF;
  padding: 7px;
}

#tagscloud p {
  text-align: justify;
  margin: 0;
}

#tagscloud a {
  text-decoration: none;
  color: gray;
}

#abouttext p, #siteinfo p {
  margin: 0;
}

.favtag {
  color: black;
  font-weight: bold;
}

.autotag {

}

blockquote {
  background-color: #EEEEEE;
  padding: 10px;
  margin: 0 0 0 30px;
  border: 1px dotted #666;
}

pre {
  background-color: #222222;
  width: 600px;
  color: #FFFFFF;
  border: solid 1px;
  padding: 8px;
  margin: 1em 0;
  overflow: scroll;
  font-family: Consolas, 'Courier New', monospace;
  font-size: 0.8em;
  line-height: 1.2em;
}

input[type=text], textarea {
  font-family: Cambria, Georgia, "Times New Roman", serif;
  font-size: 100%;
  background-color: #eeeeee;
  border: 1px solid #000000;
  width: 100%;
  line-height: 1.3em;
  padding: 0;
  margin: 0;
}

.loginza {
  display: block;
  width: 359px;
  height: 300px;
  margin: 0px 180px 0px 180px;
  padding: 15px;
  border: 1px dotted #000000;
  background: #F4F3EB;
  text-align: center;
}