  <% cache("newpostform") do %>
    <div class="contentbutton button" id="newpostbutton" onclick='$("#newpostbox").toggle({ effect: "blind"});'>
    NEW POST</div>
    <div id="newpostbox" class="postbox" style="display:none;">
      <%= render :partial => 'admin/posts/form' %>
    </div>
  <% end %>
  <%= render :file => '/posts/index.html.erb' %>