<% cache("#{current_user.identity}") do %>
<% if signed_in? %>
  <p class="commclientinfo">Signed in as <%= link_to identity_or_name(current_user), current_user.identity %> |
                  <%= link_to "Sign out", signout_path %></p>
<% else %>
  <p class="commclientinfo">Not signed in (anonymous) |
     <%= link_to "Sign in", signin_path(:rt => session[:return_to]) %></p>
<% end %>
<% end %>