<% cache("pc#{@post.pid}@#{authorized_admin?}") do %>
  <% if @post.comments.size > 0 %>
    <% for comment in @post.comments.order_by(:created_at => :asc) %>
      <% unless comment.new_record? %>
        <%= render comment %>
      <% end %>
    <% end %>
  <% end %>
<div id=<%= "lc#{@post.pid}" %>></div>
<% end %>
<%= render :partial => 'posts/commform' %>
