<div id="posts">
  <div id="firstpost"></div>
  <% @posts.each do |post| %>
    <%= cache(:action => "index", :id => post.id) do %>
       <%= render post %>
       <div id=<%= "pc#{post.pid}" %> style="display: none;" ></div>
    <% end %>
  <% end %>
</div>
<div id="paginator">
  <%= link_to_next_page(@posts, "MORE POSTS", :remote => true) %>
</div>