$("#new_post").remove()
$("#newpostlink").hide()
$("<div id='new_post'></div>").insertAfter('#firstpost')
$("#new_post").hide().html("<%= escape_javascript(render :partial => 'form') %>").slideDown()
$("<hr>").insertAfter("#postform")
