$("#new_post").remove()
$("<div id='new_post' class='postbox'></div>").insertAfter('#firstpost')
$("#new_post").hide().html("<%= escape_javascript(render :partial => 'form') %>").slideDown()
$("#newpostlink").replaceWith("<%= escape_javascript(
                  link_to_function "CANCEL",
"$('#new_post').slideUp();\
 $('#newpostlink').replaceWith('#{link_to 'NEW POST', new_post_path,
                                   :id => "newpostlink", :remote => true }')", :id=>"newpostlink") %>")
