<% cache("show@posts@#{@post.pid}@#{authorized_admin?}") do %>
<div id=<%= "p#{@post.pid}" %> class="postbox" >
  <%= render @post %>
  <div id=<%= "pc#{@post.pid}" %> >
  <%= render 'posts/comments' %>
  </div>
</div>
<% end %>