<% cache("p#{@post.pid}@#{authorized_admin?}") do %>
  <div id=<%= "p#{@post.pid}" %> class="postbox" >
  <%= render @post %>
  </div>
<% end %>
<div id=<%= "pc#{@post.pid}" %> >
  <%= render 'posts/comments' %>
</div>
